/**
Mise en page générale avec display:grid

*/



.site__entete {
    grid-area: header;
    //background-color: rgba($color: #ffffff, $alpha: 0.5);
}


.site__main {
    grid-area: main;
    padding: 1rem clamp(1rem, 3vw, 20rem);
    background-color: rgb(144, 177, 218);
}

.site__footer{
    grid-area: footer;
    padding: 1rem clamp(1rem, 3vw, 20rem);
    background-color: rgb(10, 42, 80);
}

.site__aside{
    grid-area: aside;
    padding: 1rem clamp(1rem, 3vw, 20rem);
    background-color: rgb(139, 228, 173);
    border-radius: 0 15px 15px 0;
    box-shadow: 0 5px 10px rgba($color: #000000, $alpha: 0.5);
   
}

.site {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
      "header"
      "aside"
      "main"
      "footer";
    row-gap: 50px;
    @media screen and (min-width:$largeur__bureau) {
        grid-template-columns: 20% auto; 
        grid-template-areas:
        "header header"
        "aside main"
        "footer footer";
    }
  }

  .no-aside {
    grid-template-areas:
    "header"
    "main"
    "footer";
    @media screen and (min-width:$largeur__bureau) {
        grid-template-columns: auto; 
        grid-template-areas:
        "header"
        "main"
        "footer";
        }
  }