h1 {
  font-size: clamp(0.75rem, -0.75rem + 4.8vw, 3.75rem);
}
h2 {
  font-size: clamp(0.625rem, -0.3125rem + 3vw, 2.5rem);
}
h3 {
  font-size: clamp(0.5625rem, -0.25rem + 2.6vw, 2.1875rem);
}
h4 {
  font-size: clamp(0.5rem, -0.1875rem + 2.2vw, 1.875rem);
}
h5 {
  font-size: clamp(0.5rem, -0.0313rem + 1.7vw, 1.5625rem);
}
h6 {
  font-size: clamp(0.5rem, 0.125rem + 1.2vw, 1.25rem);
}

P {
  font-size: clamp(0.5rem, 0.125rem + 1.2vw, 1.1rem);
}

h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

h2 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  /* font-family: "Slackey", cursive; */
}

h3,
h4,
h5,
h6 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin : .5rem 0;
}

p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}