ul,
ol {
    margin : 0rem 0rem;
    padding : 7px;
    color : #444;
    list-style-type : none;
    @media screen and (min-width: $largeur__mobile) {
        margin : 1rem .5rem; 
        padding : 0 13px;
      }
    @media screen and (min-width: $largeur__tablette) {
        margin : 1rem .5rem; 
        padding : 0 15px;
    }
}



ul {
  
}

ul li, 
ol li {
    margin: .5rem 0rem;
}


 ul   li::before {
    content: "-";
    background: lightgray;
    border-radius: .5rem;
    padding-inline: .3rem;
    margin-inline-end: .3rem;
      }
      ul li li::before
      {
        background: transparent;
      }


/*
li > ol {}
li > ul {}
*/

pre {

    background-color : #555;
    color : #eee;
    overflow-x: scroll;
}
code {}

strong{}

hr {}

blockquote{

}

//////////////////////////////////// MOBILE ////////////////////////////////////
@media screen and (max-width:$largeur__mobile) {

}

/////////////////////////////////// TABLETTE ///////////////////////////////////
@media screen and (min-width:$largeur__mobile) {
    
}

@media screen and (max-width:$largeur__bureau) {
    
}

//////////////////////////////////// Bureau ////////////////////////////////////
@media screen and (min-width:$largeur__bureau){
    
}