:root{
    --bleuSombre     : rgb(0, 39, 72);
    --bleuClassique  : rgb(103, 172, 209);
    --BeigeNeutre    : rgb(254, 222, 139);
    --OrangeClassique: rgb(255, 151, 21);
    --OrangeSombre   : rgb(151, 75, 13); 
}

h1{
    text-align: center;
}

.blocflex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    
}

.blocflex__article{
    width: 25%;
    padding: 5px;
    border: 1px solid #aaa;
    background-color: var(--OrangeSombre);
    box-shadow: 0 5px 10px rgba($color: #000000, $alpha: 0.5);
    border-radius: 15px 15px 15px 15px;
    margin-top: 1%;
}

.blocflex__article:hover{
    transition: all 0.5s;
    background-color: var(--OrangeClassique);
    h5 {
        font-style: oblique;
        font-size: xx-large;
    }
}

.blocflex__galerie{
    flex: 1 0 100%;
}

main{
    width: 90%;
    
    margin: auto;
    background-color: var(--OrangeClassique);
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 5px 10px rgba($color: #000000, $alpha: 0.5);

}
// .blocflex {
//     display : flex;
//     justify-content: space-between;
//     flex-wrap : wrap;

//     article {
//         flex : 1 0 250px;
//         padding : 5px;
//         margin : 10px;
//         border : 1px solid #aaa;
//         background-color: var(--OrangeSombre);
//         box-shadow: 0 5px 10px rgba($color: #000000, $alpha: 0.5);
//         border-radius: 15px 15px 15px 15px;
//     }
// }