:root{
    --bleuSombre     : rgb(0, 39, 72);
    --bleuClassique  : rgb(103, 172, 209);
    --BeigeNeutre    : rgb(254, 222, 139);
    --OrangeClassique: rgb(255, 151, 21);
    --OrangeSombre   : rgb(151, 75, 13); 
}


// menu burger
#checkbox2{
    display: none;
}

.menu-burger{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburger {
    // margin: 0 auto;
    // margin-top: 30px;
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
}

.hamburger .bar {
    padding: 0;
    width: 30px;
    height: 4px;
    background-color: maroon;
    display: block;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    position: absolute; 
}

.bar1 {
    top: 0;
}

.bar2,
.bar3 {
    top: 13.5px;
}

.bar3 {
    right: 0;
}

.bar4 {
    bottom: 0;
}

.checkbox2:checked + label > .hamburger2 > .bar1{
    transform: translateX(40px);
    background-color: transparent;
}

.checkbox2:checked + label > .hamburger2 > .bar2{
    transform: rotate(45deg);
}

.checkbox2:checked + label > .hamburger2 > .bar3{
    transform: rotate(-45deg);
}

.checkbox2:checked + label > .hamburger2 > .bar4{
    transform: translateX(-40px);
    background-color: transparent;
}

@media screen and (min-width:992px){
    .menu-burger{
        display: none;
    }

    .custom-logo-link{
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateX(-30%);
    }
.custom-logo{
        width: 40%;
        height: 40%;

    }

    .entete__nav{
        display: flex;
        position: relative;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        margin: auto;
        width: 95vw;
        height: 10vh;
        border-radius: 0 0 15px 15px;
        padding: 0 25px;
        z-index: 2;
        background-color: var(--OrangeClassique);
        box-shadow: 0 5px 10px rgba($color: #000000, $alpha: 0.5);
    }

    .menu__entete{ //nav
        list-style: none;
        width: 100%;
        .menu{ //ul
            display: flex;
            list-style-type: none;
            justify-content: space-around;
            // background-color: aqua;
            // width: 125%;
            // transform: translateX(-22%);
            z-index: 2;
            .menu-item{ //li
                a{
                    border-radius: 30px;
                    box-shadow: 0 5px 10px rgba($color: #000000, $alpha: 0.5);
                    text-decoration: none;
                    background-color: var(--OrangeSombre);
                    padding: 5px 5px;
                    color: aliceblue;
                    font-weight: bold;
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                    font-size: small;
                }
            }    
            .menu-item::before{
                content: "";
                background: transparent;
                border-radius: 0;
                padding-inline: 0;
                margin-inline-end: 0;
            }
        }
    }
}
/////////////////////////////////////////////////////////


body{
    background-color: var(--bleuClassique);
}

.site__titre {
    text-decoration: none;
}
.site__titre h1 {
    font-size: clamp(1rem, 0.3864rem + 2.4545vw, 4.375rem);
}

.site__entete h1{
    text-align: center;
    
}










@media screen and (max-width:991px){

    .menu__entete{
        // display: none;
    }

    .custom-logo-link{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
    }
        
    .custom-logo{
        width: 50%;
        height: 50%;
    }
    
    .entete__nav{
        display: flex;
        position: relative;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-around;
        margin: auto;
        width: 85vw;
        height: 10vh;
        border-radius: 0 0 15px 15px;
        padding: 0 25px;
        z-index: 5;
        background-color: var(--OrangeClassique);
        box-shadow: 0 5px 10px rgba($color: #000000, $alpha: 0.5);
    }

        
    .menu__entete{ //nav
        position: absolute;
        top: 8vh;
        z-index: 2;
        transform-origin: top;
        list-style: none;
        width: 45%;
        height: 30vh;
        // background-color: aqua;
        border-radius: 0 0 15px 15px;
        box-shadow: 0 5px 10px rgba($color: #000000, $alpha: 0.5);
        transform: scaleY(0);
        
    
        .menu{ //ul
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            margin: auto;
            width: 90%;
            height: 95%;
            .menu-item{ //li
                width: 100%;
                a{
                    display: flex;
                    align-items: center;
                    border-radius: 30px;
                    box-shadow: 0 5px 10px rgba($color: #000000, $alpha: 0.5);
                    text-decoration: none;
                    background-color: var(--OrangeSombre);
                    padding: 5px 5px;
                    color: aliceblue;
                    font-weight: bold;
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                    font-size: large;
                    
                }
            }    
            .menu-item::before{
                content: "";
                background: transparent;
                border-radius: 0;
                padding-inline: 0;
                margin-inline-end: 0;
            }
            
        }    
    }

    .checkbox2:checked + label ~ .menu__entete{
        transition: transform .5s;
        transform: scaleY(100%);
    }
}