.site {
    // background-color: var(--bleuClassique);
    
}

.site__titre {
    text-decoration: none;
}
.site__titre h1 {
    font-size: clamp(1rem, 0.3864rem + 2.4545vw, 4.375rem);
}

.site__entete h1{
    text-align: center;
    
}

//////// pour annuler le pseude element ::before pour retirer le point au début du li
.menu  .menu-item::before {
    content: "";
    background:transparent;
    border-radius: 0;
    padding-inline: 0;
    margin-inline-end: 0;
    width: 0;
    height: 0;
      }
      ul li li::before
      {
        background: transparent;
        content: "";
      }

//////////////////////////////////// MOBILE ////////////////////////////////////

.custom-logo-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}
    
.custom-logo{
    width: 50%;
    height: 50%;
}

.entete__nav{
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    width: 85vw;
    height: 10vh;
    border-radius: 0 0 15px 15px;
    padding: 0 25px;
    z-index: 5;
    background-color: var(--OrangeClassique);
    box-shadow: 0 5px 10px rgba($color: #000000, $alpha: 0.5);
}

    
.menu__entete{ //nav
    position: absolute;
    z-index: 2;
    transform-origin: top;
    list-style: none;
    width: 45%;
    height: 30vh;
    background-color: var(--OrangeClassique);
    border-radius: 0 0 15px 15px;
    transform: scaleY(0);

    .menu{ //ul
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: auto;
        width: 90%;
        height: 95%;
        .menu-item{ //li
            width: 100%;
            a{
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 30px;
                box-shadow: 0 5px 10px rgba($color: #000000, $alpha: 0.5);
                text-decoration: none;
                background-color: var(--OrangeSombre);
                padding: 5px 5px;
                color: aliceblue;
                font-weight: bold;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                font-size: large;
            }
            a:hover{
                transition: all 0.5s;
                box-shadow: none;
                font-size: larger;
            }
        }    
        .menu-item::before{
            content: "";
            background: transparent;
            border-radius: 0;
            padding-inline: 0;
            margin-inline-end: 0;
        }
    }    
}

.checkbox2:checked + label ~ .menu__entete{
    top: 8vh;
    transition: transform .5s;
    transform: scaleY(100%);
}

/////////////////////////////////// TABLETTE ///////////////////////////////////
@media screen and(min-width:$largeur__tablette) {
    .custom-logo-link{
        display: flex;
        align-items: center;
        justify-content: end;
        transform: translateX(-55%);
        z-index: 1;
    }
    .custom-logo{
        width: 40%;
        height: 40%;
    }
    
    .entete__nav{
        display: flex;
        position: relative;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        margin: auto;
        width: 95vw;
        height: 12vh;
        border-radius: 0 0 15px 15px;
        z-index: 2;
        background-color: var(--OrangeClassique);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    }

    .menu__entete{ // nav
        transform-origin: center;
        height: 100%;
        background-color: transparent;
        border-radius: 0;
        transform: scaleY(100%);
        z-index: 3;
        list-style: none;
        width: 80%;
        top: 35%;
        right: 0;

        .menu { // ul  
            display: flex;
            flex-direction: row;
            position: absolute;
            right: 0;
            list-style-type: none;
            justify-content: flex-end;
            align-items: center;
            margin: auto;
            height: 95%;

            .menu-item { // li
                padding-left: 2%;
                a{
                    border-radius: 30px;
                    box-shadow: 0 5px 10px rgba($color: #000000, $alpha: 0.5);
                    text-decoration: none;
                    background-color: var(--OrangeSombre);
                    padding: 3px 5px;
                    color: aliceblue;
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                    font-weight: bold;
                    font-size: small;
                }

                a:hover{
                    transition: all 0.25s;
                    color: var(--bleuClassique);
                }

                a:focus{
                    transition: all 0.5s;
                    box-shadow: none;
                }

            }    
    
        }
    
    }
}

//////////////////////////////////// Bureau ////////////////////////////////////
@media screen and (min-width:$largeur__bureau) {

    .custom-logo-link{
        display: flex;
        align-items: center;
        z-index: 1;
    }
    .custom-logo{
        width: 40%;
        height: 40%;

    }

    .entete__nav{
        display: flex;
        position: relative;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        margin: auto;
        width: 95vw;
        height: 10vh;
        border-radius: 0 0 15px 15px;
        padding: 0 25px;
        z-index: 2;
        background-color: var(--OrangeClassique);
        box-shadow: 0 5px 10px rgba($color: #000000, $alpha: 0.5);
    }

    .menu__entete{ //nav
        position: initial;
        z-index: 3;
        list-style: none;
        width: 100%;
        .menu{ //ul
            display: flex;
            width: 90%;
            list-style-type: none;
            justify-content: space-around;
            .menu-item{ //li
                a{
                    border-radius: 30px;
                    box-shadow: 0 5px 10px rgba($color: #000000, $alpha: 0.5);
                    text-decoration: none;
                    background-color: var(--OrangeSombre);
                    padding: 5px 5px;
                    color: aliceblue;
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                    font-weight: bold;
                    font-size: small;
                }
                a:hover{
                    transition: all 0.25s;
                    color: var(--bleuClassique);
                }
                a:focus{
                    transition: all 0.5s;
                    box-shadow: none;
                }
            }    
        }
    }
}

