.menu-cours-container{
    .menu{
        display: flex;
        flex-direction: row;
        @media screen and(min-width:$largeur__bureau){
            flex-direction: column;
        }
        .menu-item{
            flex: 1 0 40px;
            a{
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                padding: 10px;


                @media screen and(min-width:$largeur__bureau) {
                    align-items: flex-start;
                    flex-wrap: nowrap;
                }
                code{

                }
                p{
                    display: none;
                    @media screen and(min-width:$largeur__bureau){
                        display: block;
                    }
                }
            }
        }
    }
}