.recherche{
    width: 25vw;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    
    label{
        border: 5px solid var(--OrangeSombre);
        width: 215px;
        background-color: var(--OrangeSombre);
        z-index: 1 ;
        transform: translateX(15px);
        border-radius: 15px 15px;
    }
}


.recherche__input{
    border-radius: 50px;
    border: none;
}

.recherche__bouton{
    border-radius: 50%;
    background-color: red;
    border: solid 1px black;
    box-shadow: 0 5px 10px rgba($color: #000000, $alpha: 0.5);
    z-index: 2;
}

.recherche__icone{
    position:relative;
    display:inline-block;
    border-radius: 30px;
    height: 6px;
    width: 6px;
    border: 2px solid #888;
    &:after {
        content: "";
        height: 2px;
        width: 6px;
        background: #888;
        position:absolute;
        top:7px;
        left:5px;
        transform: rotate(45deg);
    }

}

.recherche__section{
    display: flex;
    flex-direction: column;
    article{
        width: 100%;
    }
}

//////////////////////////////////// MOBILE ////////////////////////////////////
@media screen and (min-width:$largeur__mobile){
    .recherche{
        transform: scale(0.75);
    }

    .recherche__bouton{
    border-radius: 50%;
    transform: scale(2);
    }
}

/////////////////////////////////// TABLETTE ///////////////////////////////////
@media screen and (min-width:$largeur__tablette){
    .recherche{
        transform: scale(0.75) translateX(-25%) translateY(-10px);
    }

    .recherche__bouton{
        border-radius: 50%;
        transform: scale(2);
    }
}

//////////////////////////////////// Bureau ////////////////////////////////////
@media screen and (min-width:$largeur__bureau) {
    .recherche__bouton{
        transform: scale(1.5);
    }
}


///////////////////////////////////// 404 ///////////////////////////////////////

.recherche404{
    display: flex;
    align-items: center;
    justify-content: center;
    .recherche{
        justify-content: center;
        transform: scale(1.5) translateX(0) translateY(0);
    }
}