.recherche{
    width: 25%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.recherche__input{

}

.recherche__bouton{

}

.recherche__icone{
    
}

.recherche__section{

}

